.AuthView {
    margin: 1em auto;
    max-width: 700px;
    padding: 1em;
}

.AuthView > .textInput {
    /*height: 1em;*/
    width: 20em;
    margin-bottom: 1em;
    margin-right: 1em;
    text-align: center;
}

.AuthView > .button {
}