.AuthView {
    margin: 1em auto;
    max-width: 700px;
    padding: 1em;
}

.AuthView > .textInput {
    /*height: 1em;*/
    width: 20em;
    margin-bottom: 1em;
    margin-right: 1em;
    text-align: center;
}

.AuthView > .input {
    height: 2em;
    font-size: 1.5em;
    width: 15em;
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-underline: gray;
}